# https://github.com/yaml/pyyaml/issues/724
PyYAML==5.3.1
cuml
pycaret[full]

jupyterlab
ipywidgets

# utilities
pandas
numpy
polars
scikit-learn
ydata-profiling
seaborn

# formatter
black
flake8
isort